In [7]:
import pandas as pd
import numpy as np

In [8]:
dataset= pd.read_csv('Adult Census Income.csv')
dataset.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [9]:
for i in dataset.columns:
    print(i)
    print(dataset[i].value_counts())
    print("------------------------------------------------------")

age
36    898
31    888
34    886
23    877
35    876
     ...
83      6
88      3
85      3
86      1
87      1
Name: age, Length: 73, dtype: int64
------------------------------------------------------
workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64
------------------------------------------------------
fnlwgt
164190    13
203488    13
123011    13
113364    12
121124    12
          ..
183522     1
44419      1
442612     1
374833     1
257302     1
Name: fnlwgt, Length: 21648, dtype: int64
------------------------------------------------------
education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64
------------------------------------------------------
education.num
9     10501
10     7291
13     5355
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: education.num, dtype: int64
------------------------------------------------------
marital.status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital.status, dtype: int64
------------------------------------------------------
occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64
------------------------------------------------------
relationship
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64
------------------------------------------------------
race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
------------------------------------------------------
sex
Male      21790
Female    10771
Name: sex, dtype: int64
------------------------------------------------------
capital.gain
0        29849
15024      347
7688       284
7298       246
99999      159
         ...
1111         1
4931         1
7978         1
5060         1
2538         1
Name: capital.gain, Length: 119, dtype: int64
------------------------------------------------------
capital.loss
0       31042
1902      202
1977      168
1887      159
1485       51
        ...
2201        1
2163        1
1944        1
1539        1
2472        1
Name: capital.loss, Length: 92, dtype: int64
------------------------------------------------------
hours.per.week
40    15217
50     2819
45     1824
60     1475
35     1297
      ...
94        1
82        1
92        1
87        1
74        1
Name: hours.per.week, Length: 94, dtype: int64
------------------------------------------------------
native.country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native.country, dtype: int64
------------------------------------------------------
income
<=50K    24720
>50K      7841
Name: income, dtype: int64
------------------------------------------------------

In [10]:
dataset['workclass']=dataset['workclass'].replace('?','Private')
dataset['occupation']=dataset['occupation'].replace('?','Prof-specialty')
dataset['native.country']=dataset['native.country'].replace('?','United-States')
dataset.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,Private,77053,HS-grad,9,Widowed,Prof-specialty,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,Private,186061,Some-college,10,Widowed,Prof-specialty,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [11]:
dataset['marital.status']=dataset['marital.status'].replace(['Married-AF-spouse','Married-civ-spouse'],'Married')
dataset['marital.status']=dataset['marital.status'].replace('Never-Married','Not Married')
dataset['marital.status']=dataset['marital.status'].replace(['Divorced','Separated','Married-spouse-absent','Widowed'],'Other')
dataset.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,Private,77053,HS-grad,9,Other,Prof-specialty,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Other,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,Private,186061,Some-college,10,Other,Prof-specialty,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Other,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Other,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [12]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [13]:
print(x)

[[90 'Private' 77053 ... 4356 40 'United-States']
 [82 'Private' 132870 ... 4356 18 'United-States']
 [66 'Private' 186061 ... 4356 40 'United-States']
 ...
 [40 'Private' 154374 ... 0 40 'United-States']
 [58 'Private' 151910 ... 0 40 'United-States']
 [22 'Private' 201490 ... 0 20 'United-States']]

In [14]:
print(y)

['<=50K' '<=50K' '<=50K' ... '>50K' '<=50K' '<=50K']

In [15]:
from sklearn.preprocessing import LabelEncoder
le1= LabelEncoder()
le3= LabelEncoder()
le5= LabelEncoder()
le6= LabelEncoder()
le7= LabelEncoder()
le8= LabelEncoder()
le9= LabelEncoder()
le13= LabelEncoder()
le= LabelEncoder()

x[:,1]= le1.fit_transform(x[:,1])
x[:,3]= le3.fit_transform(x[:,3])
x[:,5]= le5.fit_transform(x[:,5])
x[:,6]= le6.fit_transform(x[:,6])
x[:,7]= le7.fit_transform(x[:,7])
x[:,8]= le8.fit_transform(x[:,8])
x[:,9]= le9.fit_transform(x[:,9])
x[:,13]= le13.fit_transform(x[:,13])
y=le.fit_transform(y)

In [16]:
print(x)

[[90 3 77053 ... 4356 40 38]
 [82 3 132870 ... 4356 18 38]
 [66 3 186061 ... 4356 40 38]
 ...
 [40 3 154374 ... 0 40 38]
 [58 3 151910 ... 0 40 38]
 [22 3 201490 ... 0 20 38]]

In [17]:
print(y)

[0 0 0 ... 1 0 0]

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [19]:
from xgboost import XGBClassifier
model=XGBClassifier()
model.fit(X_train,Y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [20]:
from sklearn.metrics import confusion_matrix,accuracy_score
y_pred=model.predict(X_test)
cm=confusion_matrix(Y_test,y_pred)
print(cm)
accuracy_score(Y_test,y_pred)

[[4659  307]
 [ 551  996]]

0.8682634730538922

In [21]:
from sklearn.model_selection import cross_val_score
accuracies=cross_val_score(estimator=model,X=X_train,y=Y_train,cv=10)
print('Accuracy: {:.2f} Standard Deviation: {:.2f}'.format(accuracies.mean()*100,accuracies.std()*100))

Accuracy: 87.14 Standard Deviation: 0.67

In [22]:
import pickle 
pickle.dump(model,open("income_pred.pkl","wb"))